
@font-face {font-family: "iconfont";
  src:url('../fonts/iconfont.ttf') format('truetype');
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-lingdang:before { content: "\e651"; }

.icon-xinxi1:before { content: "\e668"; }

.icon-shouji:before { content: "\e647"; }

.icon-kaluli:before { content: "\e609"; }

.icon-demo15:before { content: "\e60f"; }

.icon-ichuafei:before { content: "\e604"; }

.icon-yuandian:before { content: "\e64c"; }

.icon-wenti:before { content: "\e660"; }

.icon-hcd:before { content: "\e638"; }

.icon-weixingongzhonghaoxianti:before { content: "\e691"; }

.icon-xinxi:before { content: "\e7df"; }

.icon-2:before { content: "\e607"; }

.icon-icon1460192056289:before { content: "\e66b"; }

.icon-wechat:before { content: "\e615"; }

.icon-guzhang:before { content: "\e6da"; }

.icon-yichang01:before { content: "\e622"; }

.icon-unie603:before { content: "\e624"; }

.icon-kefu:before { content: "\e62c"; }

.icon-yonghuguanli:before { content: "\e63e"; }

.icon-qianbao:before { content: "\e66c"; }

.icon-mail:before { content: "\e608"; }

.icon-wsmp-circular-weiweb:before { content: "\e648"; }

.icon-yonghu:before { content: "\e631"; }

.icon-zhucechenggong:before { content: "\e728"; }

.icon-lvye:before { content: "\e66f"; }

.icon-fenxiang:before { content: "\e62d"; }

.icon-guanfangwangzhan:before { content: "\e65b"; }

.icon-qiaquan:before { content: "\e670"; }

.icon-shenfenzhengzhengmian1:before { content: "\e625"; }

.icon-xinyongpingfensvg:before { content: "\e616"; }

.icon-guanbi:before { content: "\e641"; }

.icon-yusan:before { content: "\e652"; }

.icon-zhifubao1:before { content: "\e623"; }

.icon-dianhua:before { content: "\e613"; }

.icon-shouchishenfenzhengzhengmian:before { content: "\e626"; }

.icon-shenfenzhengzhengmian:before { content: "\e627"; }

.icon-zhifufangshi:before { content: "\e636"; }

.icon-Ankerwebicon-:before { content: "\e683"; }

.icon-guanbi1:before { content: "\e637"; }

.icon-icon:before { content: "\e600"; }

.icon-zhifuchenggong:before { content: "\e6a5"; }

.icon-jilu:before { content: "\e633"; }

.icon-shou:before { content: "\e65a"; }

.icon-tupian:before { content: "\e639"; }

.icon-tuichudenglu:before { content: "\e646"; }

.icon-zixun:before { content: "\e601"; }

.icon-yaoqinghaoyou:before { content: "\ea7c"; }

.icon-zhifubao:before { content: "\e63d"; }

.icon-shijian:before { content: "\e632"; }

.icon-yonghutouxiang:before { content: "\e606"; }

.icon-jishiqiline_:before { content: "\e6e2"; }

.icon-suo:before { content: "\e614"; }

.icon-shoudiantong-copy:before { content: "\e605"; }

.icon-saoma:before { content: "\e602"; }

.icon-sijiaoxing:before { content: "\e60d"; }

.icon-point-copy:before { content: "\e603"; }

.icon-xiangqing:before { content: "\e635"; }

.icon-weixinzhifu:before { content: "\e611"; }

.icon-zhucechenggong1:before { content: "\e628"; }

.icon-tianjia:before { content: "\e8fc"; }

.icon-heimingdanguanli:before { content: "\e617"; }

.icon-shouchizhengjian:before { content: "\e618"; }

.icon-jiantouyou:before { content: "\e62e"; }
